*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.11rem;
}

body{
    max-width: 1024px;
    width: 100%;
    height: 100vh;
    background-color:rgb(91, 91, 91);
}

nav{
    width: 100%;
    height: 10vw;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    text-align: center;
    width: 50%;
    padding: 7px 0;
    color:#fff;
    text-decoration: none;
    font-size: 5vw;
    border-right: 2px solid #fff;
}

nav a:last-child{
    border: none;
}

.active{
    color:#ff3030;
}

h1{
    font-size: 9vw;
    text-align: center;
    color:#fff;
    margin:25% 0 0 0;
}

#refresh{
    font-size: 20vw;
    background-color: transparent;
    border:none;
    color:#fff;
    position:absolute;
    bottom: 10%;
    left: 40%;
}

#refresh:active{
    animation: aylan 0.3s linear;
}

@keyframes aylan {
    form{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(180deg);
    }
}

/* Add */
form{
    width: 90%;
    margin:10% auto;
}

form input{
    width: 100%;
    height: 8.5vw;
    text-indent: 5%;
    font-size: 5.5vw;
    margin: 7% auto;
    border:none;
    display: block;
    outline: none;
    border-radius: 50px;    
}

.btns{
    display: flex;
    justify-content: space-between;
}

form button{
    padding:2.5% 5%;
    border-radius:5px;
    border:none;
    font-weight: bold;
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
    font-size: 4.2vw;
}

form button:last-child{
    background-color: red;
}

/* =========== table ========= */

table{
    width: 100%;
    border-collapse:collapse;
    border: 1px solid #ddd;
    max-height: 80vh;
}

table thead {
    background-color: rgb(111, 162, 214);
    height: 27px;
    text-align: left;    
    color: #fff;
}

table thead th{
    border: 1px solid #666;
    padding: 4px 5px;
}

table thead tr th:first-child{
    width: 25px;
}

table tbody{
    background-color: yellow;
    max-height: 70vh;
    margin-top: 10px;
}

tbody tr:nth-child(odd){
    background-color: rgb(219, 234, 245);
}

tbody tr:nth-child(even){
    background-color: rgb(191, 192, 245);
}

tbody tr td{
    border: 1px solid #666;
    padding:4px 5px;
}

tbody tr{
    max-height: 22px;
}